<ul>
  <li>
    <main>
      <div>
        <section>
          <h4>passenger info</h4>
          <div>
              <div>
                  <div>
                  </div>
              </div>
          </div>
          <div>
              <p>email</p>
              <p>phone</p>
              <p>location</p>
          </div>
        </section>
        <section>
            <div>
                <label>information</label>
                <input type="checkbox" >
            </div>
            <div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </section>
      </div>
      <aside>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </aside>
    </main>
  </li>
</ul>
