.card {
    background-color: white;
    margin: 8% 5% 8% 5%;
    padding: 20px;
    box-shadow: 5px 5px 2px 1px rgb(201, 199, 199);
    @media (min-width: 768px) {
        margin: 10% 15% 10% 15%;
        padding: 30px;
    }
    @media (min-width: 1200px) {
        margin: 5% 25% 5% 25%;
    }
    &__grid {
        display: grid;
        grid-template-columns: 40% 60%;
    }
}

.info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    @media (min-width: 768px) {
        gap: 20px;
        font-size: 16px;
    }
    &__title {
        text-transform: uppercase;
        color: grey;
        @media (min-width: 320px) {
            font-size: 8px;
        }
        @media (min-width: 400px) {
            font-size: 10px;
        }
        @media (min-width: 768px) {
            font-size: 16px;
        }
    }
    &__profile {
        display: flex;
        flex-direction: row;
        &--user {
            display: flex;
            flex-direction: column;
            @media (min-width: 320px) {
                font-size: 8px;
            }
            @media (min-width: 400px) {
                font-size: 10px;
            }
            @media (min-width: 768px) {
                font-size: 14px;
            }
            @media (min-width: 1000px) {
                font-size: 16px;
            }
        }
        &--img {
            // border: 1px solid black;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            margin-right: 8px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            @media (min-width: 768px) {
                width: 50px;
                height: 50px;
            }
        }
    }
    &__data {
        display: flex;
        flex-direction: column;
        gap: 5px;
        @media (min-width: 320px) {
            font-size: 8px;
        }
        @media (min-width: 400px) {
            font-size: 10px;
        }
        @media (min-width: 768px) {
            font-size: 14px;
        }
        @media (min-width: 1000px) {
            font-size: 16px;
        }
        p {
            text-transform: uppercase;
            color: grey;
            margin: 0;
            @media (min-width: 1000px) {
                font-size: 14px;
            }
        }
    }
}

.payment {
    display: flex;
    flex-direction: column;
    gap: 10px;
    @media (min-width: 768px) {
        gap: 20px
    }
    &__hide {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 12px;
        font-weight: bold;
        @media (min-width: 768px) {
            font-size: 16px
        }
    }
    &__method {
        padding: 0px 30px 30px 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        @media (min-width: 400px) {
            padding: 0px 30px 30px 30px;
        }
        @media (min-width: 768px) {
            gap: 20px;
            padding: 0px 30px 30px 30px;
        }
    }
}

.form-check-label {
    margin: 0px;
    padding-right: 10px;
}

.form-check,
.form-switch {
    min-height: 0px;
}

#flexSwitchCheckDefault {
    margin: 0px;
}

.trip {
    padding: 40px 20px 0px 20px;
    font-size: 12px;
    @media (min-width: 768px) {
        padding: 30px 80px 0px 80px;
        font-size: 16px;
    }
    &__route {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding-bottom: 20px;
        border-bottom: 1px solid grey;
        &--icons {
            display: flex;
            flex-direction: row;
        }
        &--address {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            font-weight: bold;
            p {
                text-transform: capitalize;
                color: grey;
                font-weight: normal
            }
        }
    }
    &__data {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 30px;
        font-weight: bold;
        p {
            text-transform: capitalize;
            color: grey;
            font-weight: normal
        }
    }
}

.fas {
    font-size: 20px;
    color: grey;
}

.fa-check-circle {
    color: blue;
    animation: flip;
    animation-duration: 1s;
}

.fa-map-marker-alt {
    color: green;
    animation: flip;
    animation-duration: 2s;
}

.line {
    height: 1px;
    border-bottom: 1px solid grey;
    margin: 10px;
    @media (min-width: 320px) {
        width: 120px;
    }
    @media (min-width: 400px) {
        width: 160px;
    }
    @media (min-width: 550px) {
        width: 250px;
    }
    @media (min-width: 768px) {
        width: 180px;
    }
    @media (min-width: 1000px) {
        width: 280px;
    }
}

.wrap {
    max-width: 1280px;
    width: 100%;
}

.divImg {
    border: 0.5px solid gray;
    border-radius: 5px;
    @media (min-width: 320px) {
        width: 60px;
        height: 40px;
    }
    @media (min-width: 400px) {
        width: 70px;
        height: 45px;
    }
    @media (min-width: 768px) {
        width: 110px;
        height: 70px;
    }
    @media (min-width: 1000px) {
        width: 140px;
        height: 80px;
    }
}

.divVisa {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.divPaypal {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: blue;
}

.divPay {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.divMaster {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}